<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
    <p>&nbsp;</p>
    <table style="border-collapse: collapse; width: 100%">
      <tbody>
        <tr>
          <td style="width: 50%; text-align: center">
            <h2><strong>EXPEDIENTE 534-1</strong></h2>
          </td>
          <td style="width: 50%; text-align: center">
            <h2><strong>1091.44 USD</strong></h2>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%">
      <tbody>
        <tr>
          <td style="width: 50%">
            <p><strong>Datos Generales</strong></p>
            <p>Importaci&oacute;n - FCL</p>
            <p>Origen: PUERTO CABELLO</p>
            <p>Destino: CALLAO</p>
          </td>
          <td style="width: 50%">
            <p><strong>Datos de la carga</strong></p>
            <p>Bultos: 15</p>
            <p>Peso: 10435.24 Kg</p>
            <p>Volumen: 0 m3</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      style="border-collapse: collapse; width: 100%; height: 78px"
      border="1"
    >
      <tbody>
        <tr style="height: 18px">
          <td style="width: 12.5%; text-align: center; height: 18px">
            CLIENTE
          </td>
          <td
            style="width: 12.5%; text-align: center; height: 18px"
            colspan="7"
          >
            INGRESOS
          </td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">Descripci&oacute;n</td>
          <td style="width: 12.5%; height: 10px">Pricing</td>
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">Operaciones</td>
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">Monto</td>
          <td style="width: 12.5%; height: 10px"></td>
          <td style="width: 12.5%; height: 10px">Total</td>
          <td style="width: 12.5%; height: 10px">Monto</td>
          <td style="width: 12.5%; height: 10px"></td>
          <td style="width: 12.5%; height: 10px">Total</td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">FLETE Y GASTOS DE ORIGEN</td>
          <td style="width: 12.5%; height: 10px">7391.81</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">7931.81</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">GASTOS LOCALES</td>
          <td style="width: 12.5%; height: 10px">530</td>
          <td style="width: 12.5%; height: 10px">95.4</td>
          <td style="width: 12.5%; height: 10px">625.4</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">ADUANAS</td>
          <td style="width: 12.5%; height: 10px">388</td>
          <td style="width: 12.5%; height: 10px">69.84</td>
          <td style="width: 12.5%; height: 10px">457.84</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
        </tr>
        <tr style="height: 10px">
          <td style="width: 12.5%; height: 10px">&nbsp;</td>
          <td style="width: 12.5%; height: 10px">ALMACEN</td>
          <td style="width: 12.5%; height: 10px">380</td>
          <td style="width: 12.5%; height: 10px">68.4</td>
          <td style="width: 12.5%; height: 10px">448.4</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
          <td style="width: 12.5%; height: 10px">0</td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table
      style="border-collapse: collapse; width: 100%; height: 162px"
      border="1"
    >
      <tbody>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">PA</td>
          <td style="width: 11.1111%; height: 18px">COSTOS</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">&nbsp;</td>
          <td style="width: 11.1111%; height: 18px">Proveedor</td>
          <td style="width: 11.1111%; height: 18px">Descripci&oacute;n</td>
          <td style="width: 11.1111%; height: 18px">Monto</td>
          <td style="width: 11.1111%; height: 18px"></td>
          <td style="width: 11.1111%; height: 18px">Total</td>
          <td style="width: 11.1111%; height: 18px">Monto</td>
          <td style="width: 11.1111%; height: 18px"></td>
          <td style="width: 11.1111%; height: 18px">Total</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">S</td>
          <td style="width: 11.1111%; height: 18px">IBERO FORWARDERS</td>
          <td style="width: 11.1111%; height: 18px">
            FLETE Y GASTOS DE ORIGEN
          </td>
          <td style="width: 11.1111%; height: 18px">7440.37</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">7440.37</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">N</td>
          <td style="width: 11.1111%; height: 18px">MSC</td>
          <td style="width: 11.1111%; height: 18px">THC</td>
          <td style="width: 11.1111%; height: 18px">50</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">50</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">N</td>
          <td style="width: 11.1111%; height: 18px">MSC</td>
          <td style="width: 11.1111%; height: 18px">VISTO BUENO</td>
          <td style="width: 11.1111%; height: 18px">285</td>
          <td style="width: 11.1111%; height: 18px">51.3</td>
          <td style="width: 11.1111%; height: 18px">336.3</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">N</td>
          <td style="width: 11.1111%; height: 18px">MSC</td>
          <td style="width: 11.1111%; height: 18px">GATE IN</td>
          <td style="width: 11.1111%; height: 18px">195</td>
          <td style="width: 11.1111%; height: 18px">35.1</td>
          <td style="width: 11.1111%; height: 18px">230.1</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">N</td>
          <td style="width: 11.1111%; height: 18px">MSC</td>
          <td style="width: 11.1111%; height: 18px">EMISION BL</td>
          <td style="width: 11.1111%; height: 18px">50</td>
          <td style="width: 11.1111%; height: 18px">9</td>
          <td style="width: 11.1111%; height: 18px">59</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 11.1111%; height: 18px">S</td>
          <td style="width: 11.1111%; height: 18px">AGENTE DE ADUANA</td>
          <td style="width: 11.1111%; height: 18px">COMISION DE ADUANAS</td>
          <td style="width: 11.1111%; height: 18px">118</td>
          <td style="width: 11.1111%; height: 18px">21.24</td>
          <td style="width: 11.1111%; height: 18px">139.24</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
          <td style="width: 11.1111%; height: 18px">0</td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table
      style="border-collapse: collapse; width: 100%; height: 36px"
      border="1"
    >
      <tbody>
        <tr style="height: 18px">
          <td style="width: 14.2857%; height: 18px">SUB TOTALES</td>
          <td style="width: 14.2857%; height: 18px">GANANCIA</td>
          <td style="width: 14.2857%; height: 18px"> A PAGAR</td>
          <td style="width: 14.2857%; height: 18px">SUB TOTAL</td>
          <td style="width: 14.2857%; height: 18px">GANANCIA</td>
          <td style="width: 14.2857%; height: 18px"> A PAGAR</td>
          <td style="width: 14.2857%; height: 18px">SUB TOTAL</td>
        </tr>
        <tr style="height: 18px">
          <td style="width: 14.2857%; height: 18px">&nbsp;</td>
          <td style="width: 14.2857%; height: 18px">1091.44</td>
          <td style="width: 14.2857%; height: 18px">177</td>
          <td style="width: 14.2857%; height: 18px">1208.44</td>
          <td style="width: 14.2857%; height: 18px">0</td>
          <td style="width: 14.2857%; height: 18px">0</td>
          <td style="width: 14.2857%; height: 18px">0</td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table style="border-collapse: collapse; width: 100%" border="1">
      <tbody>
        <tr>
          <td style="width: 47.5623%">
            <table
              style="border-collapse: collapse; width: 100%; height: 108px"
              border="1"
            >
              <tbody>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">PAGADO</td>
                  <td style="width: 33.3333%; height: 18px">&nbsp;</td>
                  <td style="width: 33.3333%; height: 18px">&nbsp;</td>
                </tr>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">Proveedor</td>
                  <td style="width: 33.3333%; height: 18px">Monto Pagado</td>
                  <td style="width: 33.3333%; height: 18px">Fecha</td>
                </tr>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">
                    IBERO FORWARDERS
                  </td>
                  <td style="width: 33.3333%; height: 18px">7440.37</td>
                  <td style="width: 33.3333%; height: 18px">15/01/2021</td>
                </tr>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">MSC</td>
                  <td style="width: 33.3333%; height: 18px">675.4</td>
                  <td style="width: 33.3333%; height: 18px">16/01/2021</td>
                </tr>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">
                    AGENTE DE ADUANA
                  </td>
                  <td style="width: 33.3333%; height: 18px">186.44</td>
                  <td style="width: 33.3333%; height: 18px">17/01/2021</td>
                </tr>
                <tr style="height: 18px">
                  <td style="width: 33.3333%; height: 18px">ALMACEN</td>
                  <td style="width: 33.3333%; height: 18px">448.4</td>
                  <td style="width: 33.3333%; height: 18px">18/01/2021</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="width: 4.33227%">&nbsp;</td>
          <td style="width: 48.1055%">
            <table style="border-collapse: collapse; width: 100%" border="1">
              <tbody>
                <tr>
                  <td style="width: 33.3333%">POR PAGAR</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%">Proveedor</td>
                  <td style="width: 33.3333%">Monto Pagado</td>
                  <td style="width: 33.3333%">Fecha</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%">TRANSPORTISTA</td>
                  <td style="width: 33.3333%">274.4</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%">&nbsp;</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%">&nbsp;</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                  <td style="width: 33.3333%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
